[submodule "zprezto"]
	path = stow/zsh/.zprezto
	url = https://github.com/LSmith-Zenoscave/prezto.git
	branch = main
[submodule "vim"]
	path = stow/dotfiles/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
	branch = master
